<%= form_with model: @comment, url: post_comments_path(@user, @post), method: :post, local: true, scope: :comments do |f|%>
    <div>
      <%= f.label :text%>
      <%= f.text_field :text%>
    </div>
    <%= f.submit "Comment" %>
  <% end %>