#user_list {
  margin: 0%;
  padding: 3rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#user_container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#user_img {
  flex: 0.2;
  width: 10%;
  object-fit: contain;
  border-radius: 50%;
}

#container_container_div {
  flex: 0.8;
  border: 3px solid #000;
  padding: 0.3rem;
}

#container_container_div > h3 {
  display: flex;
  justify-content: flex-start;
}

#container_container_div > p {
  display: flex;
  justify-content: flex-end;
}

#user_details {
  padding: 3rem;
}

#user_bio {
  margin-top: 0.5rem;
  border: solid 3px #000;
  padding: 0.5rem;
}

#user_posts {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  margin-top: 0.8rem;
  padding: 0.5rem;
  border: solid 3px #000;
}

#user_posts > h4 {
  display: flex;
  justify-content: flex-end;
}

#button_container {
  display: flex;
  justify-content: center;
}

#see_all_button,
#pagination_button {
  margin-top: 0.8rem;
  box-shadow: 4px 6px 4px #000;
  padding: 0.5rem;
  border: solid 2px #000;
}

#post_details {
  border: solid 3px #000;
  padding: 0.2rem;
  margin: 0%;
}

#post_show_container {
  padding: 3rem;
}

#container_index_posts_comments_container,
#users_comments {
  border: solid 3px #000;
  margin-top: 0.3rem;
  padding: 0.5rem;
}

#post_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#new_post_form_cont,
#new_comments_form_cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0.3rem;
  gap: 1rem;
  padding: 0.4rem;
  text-align: center;
}

#new_h21 {
  display: flex;
  justify-content: center;
}
